*{
  margin: 0;
  border: border-box;
  font-family: Amazon Ember, sans-serif;
}


body {
  background-color: rgb(234, 237, 237);
  margin: 0;
  font-family: Amazon Ember, Amazon Ember, Amazon Ember, Amazon Ember, Amazon Ember, Amazon Ember, Amazon Ember, Amazon Ember, Amazon Ember, Amazon Ember, Amazon Ember, Amazon Ember, sans-serif; 
}

code {
  font-family: Amazon Ember, sans-serif;
}
